<%= form_tag raw_index_path, method: 'post' do %>
    <h4><%= link_to "返回選單列表", raw_index_path %></h4>
    <%= select_tag :parent, options_for_select(@parent), class: 'parent' %>
    <%= text_field_tag :name, @name, class: 'name', placeholder: '顯示名稱' %>
    <%= text_field_tag :id, @id, class: 'id', placeholder: 'ID (英文)' %>
    <br>
    <%= submit_tag "Save", class: 'submit' %>
    <%= button_tag "Cancel", onclick: "javascript:location.href='/raw/#{@id}';return false;" %>
    <%= text_area_tag :content, @content, class: 'content', placeholder: 'JSON 內容' %>
<% end %>
