<div class="navbar navbar-fixed-top ">
      <div class="navbar-inner top ">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <%= link_to(Setting.app_name, Setting.domain , :class => "brand" )%>

          <!-- <%= render :partial => "common/search_form" %> -->
     
          <div class="nav-collapse">
      
              <%= render_list :class => "nav" do |li|
                li << link_to("首頁", "#", :class => 'category')
                li << link_to("業務","#sales", :class => 'category')
                li << link_to("產品","#product", :class => 'category')
                li << link_to("行銷","#marketing", :class => 'category')
                li << link_to("客服","#service", :class => 'category')
                li << link_to("技術資源及規範","#tech", :class => 'category')
                li << link_to("新手上路","#guide", :class => 'category')
              end %>
              
              <%= render :partial => "common/user_nav"%>

          </div>
    </div>
  </div>

  <%= yield :submenu %>

</div>
