<div class="navbar navbar-fixed-top ">
      <div class="navbar-inner top ">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <%= link_to(Setting.app_name, Setting.domain , :class => "brand" )%>

          <!-- <%= render :partial => "common/search_form" %> -->
     
          <div class="nav-collapse">

              <ul class="nav">
                  <% @menu.each do |m| %>
                      <% if m.include? 'items' and m['items'].size > 0 %>
                          <li>
                          <%= link_to "##{m['id']}", :class => 'category' do %>
                              <%= m['name'] %>
                              <%= content_tag(:i,"",class:"icon-caret-down") %>
                          <% end %>
                          <ul class="dropdown-menu dropdown-fix">
                          <% m['items'].each do |i| %>
                          <li class="dropdown">
                          <%= link_to "##{i['id']}" do %>
                              <%= i['name'] %>
                          <% end %>
                          </li>
                          <% end %>
                        </ul>
                          </li>
                      <% else %>
                          <li>
                          <%= link_to "##{m['id']}", :class => 'category' do %>
                              <%= m['name'] %>
                          <% end %>
                          </li>
                      <% end %>
                  <% end %>
              </ul>
              <%#= render_list :class => "nav" do |li|
                  @menu.each do |m|
                      nil.aa
                      li << link_to(m['name'], "##{m['id']}", :class => 'category')
                  end
              end %>

              <%= render :partial => "common/user_nav"%>

          </div>
    </div>
  </div>

  <%= yield :submenu %>

</div>
